body {
    color: #A6B494;
    background-image: url("Images/bg.webp");
    background-size: cover;
    text-align: center;
    font-family: "Space Mono", monospace;
    text-shadow: 6px -4px 0px rgba(87,132,46,0.5);
}

.btn {
    padding: 5px 10px;
    background: none;
    border: none;
    color: #A6B494;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: bold;
}

.underline {
    border-bottom: 3px solid white;
}

#logo {
    width: 100px;
}