body {
    color: white;
    background-image: url("Images/space.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Space Mono", monospace;
}

.btn {
    padding: 5px 10px;
    background: black;
    border: none;
    color: white;
    font-family: inherit;
}

.underline {
    border-bottom: 3px solid white;
}

#logo {
    width: 100px;
}